figure {
  text-align: center;
}
@media (max-width: 767px) {
  #coil-cross-section-view {
      width: 60%;
      height: 60%;
  }
}
@media (min-width: 767px) {
  #coil-cross-section-view {
      width: 35%;
      height: 35%;
  }
}
