<div class="articles-title">
  <div class="articles-title-head">力学　</div>
</div>
<div class="articles">
  <li><a routerLink="/physics-experiment-note/buoyancy-comparison">浮力（食塩水,普通の水,油での比較）</a></li>
</div>
<div class="articles-title">
  <div class="articles-title-head">電磁気学　</div>
</div>
<div class="articles">
  <li><a routerLink="/physics-experiment-note/resistance-length-and-value">抵抗の長さと抵抗値</a></li>
  <li><a routerLink="/physics-experiment-note/what-is-capacitor">コンデンサとはどういうものか</a></li>
  <li><a routerLink="/physics-experiment-note/magnetic-field-by-circular-current">円形電流の作る磁場</a></li>
</div>
