<div class="articles-title">
  <div class="articles-title-head">力学　</div>
</div>
<div class="articles">
  <li><a routerLink="/physics-experiment-note/buoyancy-comparison">浮力(食塩水,普通の水,油での比較)</a>　(2024/02/28 update)</li>
</div>
<div class="articles-title">
  <div class="articles-title-head">電磁気学　</div>
</div>
<div class="articles">
  <li><a routerLink="/physics-experiment-note/resistance-length-and-value">抵抗の長さと抵抗値</a>　(2024/03/03  update)</li>
  <li><a routerLink="/physics-experiment-note/what-is-capacitor">コンデンサとはどういうものか</a>　(2024/03/17  update)</li>
  <li><a routerLink="/physics-experiment-note/magnetic-field-by-circular-current">円形電流の作る磁場</a>　(2024/03/24  update)</li>
  <li><a routerLink="/physics-experiment-note/series_synthesis_capacity">コンデンサの合成容量(直列)</a>　(2024/04/01 update)</li>
  <li><a routerLink="/physics-experiment-note/parallel_synthesis_capacity">コンデンサの合成容量(並列)</a>　(2024/04/07 update)</li>
  <li><a routerLink="/physics-experiment-note/coil-property-keep-current">コイルの性質(電流を一定に保とうとする)</a>　(2024/04/07 update)</li>
</div>
