<div class="explanation">
  有理数の循環節を求めるプログラムです。
</div>
<div class="container">
  <div class="fraction">
    <div class="numerator">
      <input id="numerator1" type="text" [(ngModel)]="ratioNumerator" placeholder="分子">
    </div>
    <div class="line">

    </div>
    <div class="denominator">
      <input id="denominator1" type="text" [(ngModel)]="ratioDenominator" placeholder="分母">
    </div>
  </div>
</div>
<div class="recurring-decimal">
  <span id="recurring-decimal">{{ recurringDecimal }}</span>
</div>
<div class="button_wrapper">
  <button (click)="calc()">計算</button>
</div>
