#canvas {
text-align: center;
}
.program-container {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 20px;
  background-color: #f8f8f8;
}

.button_wrapper {
  text-align: center;
  height: 30px;
}

@media screen and (max-width: 768px) {
button {
    width: 30%;
    height: 100%;
}
canvas {
    width: 90%;
    height: auto;
    margin: 0 auto;
}

}


@media screen and (min-width: 769px) {
button {
    width: 20%;
    height: 100%;
}
canvas {
    width: 60%;
    height: auto;
    margin: 0 auto;
}
}

