作成済のプログラム
<ul>
    <li>タイル敷き詰め(アルキメデスのタイル)</li>
    <a href="https://github.com/ns2pole/archimedes_tile/tree/color"> https://github.com/ns2pole/archimedes_tile/tree/color</a>  [JavaScript]
    <li>幅優先探索</li>
    <a href="https://github.com/ns2pole/mathpro"> https://github.com/ns2pole/mathpro</a>  [TypeScript]
    <li>バブルソート</li>
    <a href="https://github.com/ns2pole/mathpro"> https://github.com/ns2pole/mathpro</a>  [TypeScript]
    <li>素数判定</li>
    <li>素因数分解</li>
    <li>素数列挙</li>
    <li>有理数四則計算</li>
    <li>最大公約数,最小公倍数の計算</li>
</ul>
作成予定のプログラム
<ul>
    <li>ボロノイ図</li>
    <li>整数環上の因数分解</li>
</ul>
