<body>
<h3>作成済のプログラム</h3>
  <div class="program-container">
    <li>幅優先探索</li>
    <a href="https://github.com/ns2pole/mathpro"> https://github.com/ns2pole/mathpro</a>  [TypeScript]
    <br><br><br>
    <app-breadth-first-search></app-breadth-first-search>
    <!-- <app-invader-game></app-invader-game> -->
    <!-- <app-mechanics></app-mechanics> -->
  </div>
  <div class="program-container">
    <li>バブルソート</li>
    <a href="https://github.com/ns2pole/mathpro"> https://github.com/ns2pole/mathpro</a>  [TypeScript]
    <app-bar-chart></app-bar-chart>
  </div>
  <div class="program-container">
    <li>素因数分解</li>
    <a href="https://github.com/ns2pole/math/tree/develop"> https://github.com/ns2pole/math/tree/develop  </a> [Java]
    <app-prime-factorization></app-prime-factorization>
    <br><br><br><br><br>
  </div>
  <div class="program-container">
    <li>タイル敷き詰め(アルキメデスのタイル)</li>
    <a href="https://github.com/ns2pole/archimedes_tile/tree/color"> https://github.com/ns2pole/archimedes_tile/tree/color</a>  [JavaScript]
    <li>素数判定</li>
    <a href="https://github.com/ns2pole/math/tree/develop"> https://github.com/ns2pole/math/tree/develop </a> [Java]
    <li>素数列挙</li>
    <a href="https://github.com/ns2pole/math/tree/develop"> https://github.com/ns2pole/math/tree/develop </a> [Java]
    <li>有理数四則計算</li>
    <li>最大公約数,最小公倍数の計算</li>
  </div>
  <div class="program-container">
    <li>tetris</li>
    <app-tetris></app-tetris>
  </div>
<h3>作成予定のプログラム</h3>
  <div class="program-container">
    <li>ボロノイ図</li>
    <li>整数環上の因数分解</li>
    <li>Tetris</li>
    <li>インベーダゲーム</li>
  </div>
</body>
