<body>
  <h2 class="sub-title">サンプルプログラム</h2>
  <h3 class="sub-title-addition">(それぞれのプログラムのタイトルをクリックすると公開プログラムを見れます)</h3>
  <div class="program-container">
    <div class="program-title">
      <a href="https://github.com/ns2pole/mathpro">素因数分解　[TypeScript]</a>
    </div>
    <app-prime-factorization></app-prime-factorization>
    <br><br><br><br><br>
  </div>
  <div class="program-container">
    <div class="program-title">
      <a href="https://github.com/ns2pole/haskellapi/tree/centosbuild">最大公約数　[Haskell]</a>
    </div>
    <app-integer-gcd></app-integer-gcd>
  </div>
  <div class="program-container">
    <div class="program-title">
      <a href="https://github.com/ns2pole/math/tree/develop">有理数の計算　[Java]</a>
    </div>
    <app-ratio-calc></app-ratio-calc>
  </div>
  <div class="program-container">
    <div class="program-title">
      <a href="https://github.com/ns2pole/math/tree/develop"> 循環節の計算　[Java]</a>
    </div>
    <app-recurring-decimal></app-recurring-decimal>
  </div>
  <div class="program-container">
    <div class="program-title">
      <a href="https://github.com/ns2pole/mathpro">バブルソート　[TypeScript]</a>
    </div>
    <app-bar-chart></app-bar-chart>
  </div>
  <div class="program-container">
    <div class="program-title">
      <a href="https://github.com/ns2pole/mathpro">幅優先探索　[TypeScript]</a>
    </div>
    <app-breadth-first-search></app-breadth-first-search>
    <!-- <app-invader-game></app-invader-game> -->
    <!-- <app-mechanics></app-mechanics> -->
  </div>
  <div class="program-container">
    <div class="program-title">
      <a href="https://github.com/ns2pole/mathpro">テトリス　[TypeScript]</a>
    </div>
    <app-tetris></app-tetris>
  </div>
  <div class="program-container">
    <div class="program-title">
      その他
    </div>
    <div class="others-list">
      <a href="https://github.com/ns2pole/archimedes_tile/tree/color">タイル敷き詰め(アルキメデスのタイル)　[JavaScript]</a><br>
      <a href="https://github.com/ns2pole/math/tree/develop">素数判定　[Java]</a><br>
      <a href="https://github.com/ns2pole/math/tree/develop">素数列挙　[Java]</a>
    </div>
  </div>
</body>
