<div class="explanation">
  有理数同士の和の計算プログラムです。<br>
  分母の最大公約数を計算し、和を計算します。結果は既約分数になるようにしています。
</div>
<div class="container">
  <div class="fraction">
    <div class="numerator">
      <input id="numerator1" type="text" [(ngModel)]="fraction1Numerator" placeholder="分子1">
    </div>
    <div class="line">

    </div>
    <div class="denominator">
      <input id="denominator1" type="text" [(ngModel)]="fraction1Denominator" placeholder="分母1">
    </div>
  </div>
  <div class="operator-container">
    <span class="operator">+</span>
  </div>
  <div class="fraction">
    <div class="numerator">
      <input id="numerator2" type="text" [(ngModel)]="fraction2Numerator" placeholder="分子2">
    </div>
    <div class="line"></div>
    <div class="denominator">
      <input id="denominator2" type="text" [(ngModel)]="fraction2Denominator" placeholder="分母2">
    </div>
  </div>
</div>
<div class="container">
  <div class="fraction">
    <div class="numerator">
      {{ resultNumerator }}
    </div>
    <div class="line"></div>
    <div class="denominator">
      {{ resultDenominator }}
    </div>
  </div>
</div>
<div class="button_wrapper">
  <button (click)="calc()">計算</button>
</div>
