<head>
	<meta charset="UTF-8">
	<title>大学数学,大学物理,プログラミング指導</title>
</head>
<div class="sub-container">
  <div class="recommend-title">【promathって？】</div>
  <div class="explanation">promathでは大学数学(線形代数.微積分学,集合,位相,群論など),大学物理,数学系のプログラミングを教えています。</div>
</div>
<br><br>
<div class="sub-container">
  <div class="recommend-title">【対象】</div>
  <div class="explanation">小学校高学年以上〜社会人</div>
  <br>
  <br>2025/02/02時点<br>オンラインで中学生1名,高校生1名,大学生1名指導中
</div>
<br><br>
<div class="sub-container">
  <div class="recommend-title">【大学数学物理】</div>
  <div class="explanation">大学生のレポートや授業のサポートをさせて頂きます！</div>
</div>
<br><br>
<div class="sub-container">
  <div class="recommend-title">【プログラミングで理数系の力を養いたい人】</div>
  <div class="explanation">数学,物理をテーマに扱う為、プログラミングを学ぶと同時に数学も学ぶ事ができます。</div>
  <br><br>
  <div class="recommend-title">【プログラミングで遊びたい人】</div>
  <div class="explanation">代表はレトロゲームを趣味で作って遊んでいます。<br>レトロゲームを作る事はプログラミングの勉強になります。</div>
  <br><br>
  <div class="recommend-title">【言語】</div>
  <div class="explanation">Java, Haskell, Typescript, Pythonなど(Javascript, Html, Cssは必要に応じて)</div>
</div>


