
<div>
  <h4>■代表　中村俊介</h4>
  <img id="me" class="me" src="/assets/images/me1.png">
</div>
<div>
  <h4>■経歴</h4>
  <li>2014年3月 神戸大学 理学部 地球惑星科学科卒業</li>
  <li>2016年3月 神戸大学大学院 理学研究科 物理学専攻(素粒子宇宙論研究室)修了</li>
  <li>
      2018年〜 数学物理指導
      数学物理の家庭教師、塾講師として活動中(大学受験生を主に担当しています。数学は中学受験,高校受験,数学1A2B3まで指導経験あり。)
  </li>
  <li>
    2018年〜
    プログラマとして都内某株式会社で週2,3日でアルバイト勤務
  </li>
  <li>
      2022年〜 プログラミング指導
      集団指導:某専門学校プログラミング授業担当　個別指導:中卒生1名,中学生1名指導中,小学5年生1名指導中
  </li>
</div>
    <br>
<div>
    <h4>■1年以上担当の生徒 合格実績(主に数学担当)</h4>
        <li>北海道大学 総合理系型入試</li>
        <li>東京理科大学 A方式理学部化学科 B方式理学部応用化学科</li>
</div>
<br>
<div>
  <h4>■過去の個別指導 担当生徒例(1年以上の生徒のみ記載)</h4>
        <li>駒場東邦高等学校生(中高一貫)</li>
        <li>慶応義塾湘南藤沢高校生(中高一貫)</li>
        <li>國學院久我山高等学校生(中高一貫)</li>
        <li>等々力高等学校生(中高一貫)</li>

</div>
<div>
  <h4>■その他指導</h4>
  <li>大学生 大学教養 微分積分学レポートフォロー</li>
  <li>大学生 大学教養 電磁気学レポートフォロー</li>
</div>
<br>

