<head>
	<meta charset="UTF-8">
	<title>高校数学,高校物理,プログラミング指導</title>
</head>
  <h1>〜promathって？〜</h1>
  <div class="explanation">promathでは高校数学,高校物理,アルゴリズム系のプログラミングを教えています。</div>
  <br><br><br>

  <h1>〜数学〜こんな人におすすめ</h1>
  <div class="recommend-title">【難関大学受験まで対応した数学】</div>
  <br>
  <div class="explanation">代表は主に医学部生や難関大学受験生を担当しています。
    <br>一緒に数学を学び楽しみましょう。</div>
  <br><br>
  <h1>〜物理〜こんな人におすすめ</h1>
  <div class="recommend-title">物理実験ちゃんねるの登録者数が1000人を超えました。(2024/08/15)</div>
  <div class="recommend-title">【実験を交えて高校数学を学びたい人】</div>
  <br>
  <div class="explanation">代表はSNS「物理実験チャンネル」を運営しています。
    <br>公開されている動画の実験以外にも、色々な実験を交えながら高校物理を学ぶことが出来ます。</div>
    <br><br>
  <div class="recommend-title">【微分積分を使う高校物理を学びたい人】</div>
  <br>
  <div class="explanation">物理を微積を厭わずに学ぶ事で数学と物理の両方の力を高める事が出来ます。</div>
  <br><br>
  <h1>〜プログラミング〜こんな人におすすめ</h1>
  <br>
  <div class="recommend-title">【理数系の力を養いたい人】</div>
  <br>
  <div class="explanation">プログラミングのテーマは算数や数学を扱うため、学校教育で扱われる単元の予習復習深掘りの効果が期待されます。</div>
  <br><br>
  <div class="recommend-title">【プログラミングで遊びたい方】</div>
  <br>
  <div class="explanation">代表はレトロゲームを趣味で作って遊んでいます。レトロゲームを作る事もプログラミングの勉強になります。</div>
  <br><br>
  <div class="recommend-title">【おまけ:英語の力を養いたい人】</div>
  <br>
  <div class="explanation">エラーメッセージは英語で表示され、プログラムも基本的に英語で書くので多少の英語力の養成が期待されます。</div>
  <div id="error-img-container">
    <figure>
      <img id="error-img" src="/assets/images/error.png">
      <figcaption>error message</figcaption>
    </figure>
  </div>
  <br>
  <br>
  <br>
  <br>

  <h1>〜アルゴリズムって何？〜</h1>
  <div class="explanation">
    一般の解を求める為に一連の演算、命令を実行順に並べたもの
  </div>
  <br><br>
  <h1>アルゴリズムの例：素因数分解と試し割り</h1>
  <br>
  <div id="prime-factor-ex">1547を素因数分解すると「？×？×？」 になる</div>
  <div class="explanation">
    1547を2,3,5,7…と小さい素数で試しに割って行くと最初7で割り切れ、次に13で割り切れる為<br>
    1547 -> 7×221 -> 7×13×17
    と計算できます。この一連の命令はアルゴリズムの一例となっています。
    <br>
    <br>
  </div>
  <div id="prime-factors-img-container">
    <figure>
      <img id="prime-factors-img" src="/assets/images/prime-factors.png">
      <figcaption>素因数分解のプログラム</figcaption>
    </figure>
  </div>
  <br>

  <h1>〜時間帯〜<br>(2023/07/09〜2023/08/31)</h1>
  <div class="explanation">
    <li>対面：月曜日から金曜日9:00〜18:00の間(祝日休み)で応相談</li>
    <li>オンライン：応相談</li>
  </div>
  <br><br>
  <h1>〜対象〜</h1>
  <div class="explanation">
    <li>小学校高学年以上〜社会人</li>
    <li>2023/07/09時点 オンラインで小学生,中学生3名個別指導中(java,javascript)</li>
  </div>
  <br><br>
  <h1>〜プログラミング言語〜</h1>
  <div class="explanation">
    <li>Java, Haskell, Typescriptなど(Javascript, Html, Cssは必要に応じて)</li>
  </div>
  <br><br>
  <h1>〜環境〜</h1>
  <div id="desk-img-container">
    <figure>
      <img id="desk-img" src="/assets/images/desk.JPG">
      <figcaption>学習用PC有,PC持ち込み可能</figcaption>
    </figure>
  </div>
