<div id="game" class="">
    <div (click)="changeColor()" [@changeColor]="isWhite ? 'white' : 'blue'" class="field"></div>
    <div [@changeColor]="isWhite ? 'white' : 'blue'" class="field"></div>
    <div [@changeColor]="isWhite ? 'white' : 'blue'" class="field"></div>
    <div [@changeColor]="isWhite ? 'white' : 'blue'" class="field"></div>
    <div [@changeColor]="isWhite ? 'white' : 'blue'" class="field"></div>
    <div [@changeColor]="isWhite ? 'white' : 'blue'" class="field"></div>
    <div [@changeColor]="isWhite ? 'white' : 'blue'" class="field"></div>
    <div [@changeColor]="isWhite ? 'white' : 'blue'" class="field"></div>
    <div [@changeColor]="isWhite ? 'white' : 'blue'" class="field"></div>
    <div [@changeColor]="isWhite ? 'white' : 'blue'" class="field"></div>
    <div [@changeColor]="isWhite ? 'white' : 'blue'" class="field"></div>
    <div [@changeColor]="isWhite ? 'white' : 'blue'" class="field"></div>
    <div [@changeColor]="isWhite ? 'white' : 'blue'" class="field"></div>
    <div [@changeColor]="isWhite ? 'white' : 'blue'" class="field"></div>
    <div [@changeColor]="isWhite ? 'white' : 'blue'" class="field"></div>
    <div [@changeColor]="isWhite ? 'white' : 'blue'" class="field"></div>
    <div [@changeColor]="isWhite ? 'white' : 'blue'" class="field"></div>
    <div [@changeColor]="isWhite ? 'white' : 'blue'" class="field"></div>
    <div [@changeColor]="isWhite ? 'white' : 'blue'" class="field"></div>
    <div [@changeColor]="isWhite ? 'white' : 'blue'" class="field"></div>
    <div [@changeColor]="isWhite ? 'white' : 'blue'" class="field"></div>
    <div [@changeColor]="isWhite ? 'white' : 'blue'" class="field"></div>
    <div [@changeColor]="isWhite ? 'white' : 'blue'" class="field"></div>
    <div [@changeColor]="isWhite ? 'white' : 'blue'" class="field"></div>
    <div [@changeColor]="isWhite ? 'white' : 'blue'" class="field"></div>
    <div [@changeColor]="isWhite ? 'white' : 'blue'" class="field"></div>
    <div [@changeColor]="isWhite ? 'white' : 'blue'" class="field"></div>
    <div [@changeColor]="isWhite ? 'white' : 'blue'" class="field"></div>
    <div [@changeColor]="isWhite ? 'white' : 'blue'" class="field"></div>
    <div [@changeColor]="isWhite ? 'white' : 'blue'" class="field"></div>
    <div [@changeColor]="isWhite ? 'white' : 'blue'" class="field"></div>
    <div [@changeColor]="isWhite ? 'white' : 'blue'" class="field"></div>
    <div [@changeColor]="isWhite ? 'white' : 'blue'" class="field"></div>
    <div [@changeColor]="isWhite ? 'white' : 'blue'" class="field"></div>
    <div [@changeColor]="isWhite ? 'white' : 'blue'" class="field"></div>
    <div [@changeColor]="isWhite ? 'white' : 'blue'" class="field"></div>

</div>