<div id="game" class="">
    <div [@changeColor]="isBlue ? 'blue' : 'red'" class="field"></div>
    <div [@changeColor]="isBlue ? 'blue' : 'red'" class="field"></div>
    <div [@changeColor]="isBlue ? 'blue' : 'red'" class="field"></div>
    <div [@changeColor]="isBlue ? 'blue' : 'red'" class="field"></div>
    <div [@changeColor]="isBlue ? 'blue' : 'red'" class="field"></div>
    <div [@changeColor]="isBlue ? 'blue' : 'red'" class="field"></div>
    <div [@changeColor]="isBlue ? 'blue' : 'red'" class="field"></div>
    <div [@changeColor]="isBlue ? 'blue' : 'red'" class="field"></div>
    <div [@changeColor]="isBlue ? 'blue' : 'red'" class="field"></div>
    <div [@changeColor]="isBlue ? 'blue' : 'red'" class="field"></div>
    <div [@changeColor]="isBlue ? 'blue' : 'red'" class="field"></div>
    <div [@changeColor]="isBlue ? 'blue' : 'red'" class="field"></div>
    <div [@changeColor]="isBlue ? 'blue' : 'red'" class="field"></div>
    <div [@changeColor]="isBlue ? 'blue' : 'red'" class="field"></div>
    <div [@changeColor]="isBlue ? 'blue' : 'red'" class="field"></div>
    <div [@changeColor]="isBlue ? 'blue' : 'red'" class="field"></div>
    <div [@changeColor]="isBlue ? 'blue' : 'red'" class="field"></div>
    <div [@changeColor]="isBlue ? 'blue' : 'red'" class="field"></div>
    <div [@changeColor]="isBlue ? 'blue' : 'red'" class="field"></div>
    <div [@changeColor]="isBlue ? 'blue' : 'red'" class="field"></div>
    <div [@changeColor]="isBlue ? 'blue' : 'red'" class="field"></div>
    <div [@changeColor]="isBlue ? 'blue' : 'red'" class="field"></div>
    <div [@changeColor]="isBlue ? 'blue' : 'red'" class="field"></div>
    <div [@changeColor]="isBlue ? 'blue' : 'red'" class="field"></div>
    <div [@changeColor]="isBlue ? 'blue' : 'red'" class="field"></div>
    <div [@changeColor]="isBlue ? 'blue' : 'red'" class="field"></div>
    <div [@changeColor]="isBlue ? 'blue' : 'red'" class="field"></div>
    <div [@changeColor]="isBlue ? 'blue' : 'red'" class="field"></div>
    <div [@changeColor]="isBlue ? 'blue' : 'red'" class="field"></div>
    <div [@changeColor]="isBlue ? 'blue' : 'red'" class="field"></div>
    <div [@changeColor]="isBlue ? 'blue' : 'red'" class="field"></div>
    <div [@changeColor]="isBlue ? 'blue' : 'red'" class="field"></div>
    <div [@changeColor]="isBlue ? 'blue' : 'red'" class="field"></div>
    <div [@changeColor]="isBlue ? 'blue' : 'red'" class="field"></div>
    <div [@changeColor]="isBlue ? 'blue' : 'red'" class="field"></div>
    <div [@changeColor]="isBlue ? 'blue' : 'red'" class="field"></div>
</div>