#game{
    margin-right: auto;/* 中央寄せ */
    margin-left: auto;/* 中央寄せ */
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap:wrap;
    align-content:stretch;
    width: 50%;
}
.field{
    width: 14%;
    color: #6091d3;/*文字色*/
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.field::before{
    content: "";
    padding-top: 100%;
    display: block;
}
.field:hover {
    background: rgb(243, 236, 227);
    border: 2px solid #333;
    cursor: pointer;/*カーソルをポインターに変える*/
}