.chart-container {
  text-align: center; /* ボタンなどの中央寄せ */
  max-width: 600px; /* 最大幅を600pxに設定 */
}

/* PC用 */
@media screen and (min-width: 769px) {
  .chart-container {
    width: 75%; /* 全体の幅を60%に設定 */
    margin: 20px auto; /* 中央寄せ */
  }
}

/* スマホ用 */
@media screen and (max-width: 769px) {
  .chart-container {
    width: 85%; /* 全体の幅を60%に設定 */
    margin: 10px auto; /* 中央寄せ */
  }
}

.chart {
  width: 100%; /* 親要素に対しての幅を100%に設定 */
  height: auto; /* 自動で高さを調整 */
}
