<div class="explanation">
  ランダムに並んだ数値を並び替えるアルゴリズムは色々と知られています。<br>
  下のアニメーションはバブルソートと呼ばれ、隣接する2つの数値を比べて並び替えを行なっています。
</div>
<div class="chart-container">
    <canvas baseChart class="chart"
            [data]="barChartData"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [type]="barChartType">
    </canvas>
    <div class="button_wrapper">
        <button (click)="randomize()">Shuffle</button>&nbsp;&nbsp;
        <button (click)="bubbleSort()">Sort</button>
    </div>
</div>
