.form-container {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 1rem;
}

.form-container label {
  font-weight: bold;
}

.form-container input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

.form-container textarea {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

.button-container {
  width: 100%;
  text-align: right;
}

button {
  width: 30%;
  color: #000000;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #000000;
}


@media (max-width: 767px) {
  .form-container {
    width: 93%;
  }

  #home {
    width: 80%;
    height: 80%;
    border-top: #000000 1px solid;
    border-bottom: #000000 1px solid;
    border-left: #000000 1px solid;
    border-right: #000000 1px solid;
  }
}
#home-img-container {
  text-align: center;
}

figcaption {
  font-size: 17px;
}

@media (min-width: 768px) {
  #home {
    width: 60%;
    height: 60%;
    border-top: #000000 1px solid;
    border-bottom: #000000 1px solid;
    border-left: #000000 1px solid;
    border-right: #000000 1px solid;
  }
}
