[申し込み・お問い合わせ]
<br>
<br>
お申し込みの際は、下記フォーム,メール,お電話のいずれかにてお問合せ下さい。
<br><br><br><br>
  <p>お名前　<input id="txtName" name="txtName" type="text" #name /></p>
  <p>Email　<input type="text" name="to"></p>
  <p>件名　<input type="text" name="title"></p>
  <p>メッセージ</p>
    <textarea name="content" cols="60" rows="10"></textarea>
  <p><button (click)="send(name.value)" name="send" >送信</button></p>
<br><br><br><br>
所在地: 〒510-0211 三重県鈴鹿市東旭ヶ丘4 - 9 - 18
<br><br>
mail: spaceofstar2@gmail.com
<br><br>
phone: 090-8520-3580
<br>
