<h3 class="styled-h3">はじめに</h3><br>
<p>
  この記事で伝えたい主張：原点中心の回転変換によって実係数2次形式の判別式は不変である
</p>
<p>
必要な予備知識：数学3-２次曲線まで-
</p>
<p>
<div mathjax>
  <h3 class="styled-h3">定義 2変数2次多項式</h3><br>
  <p>「2変数2次多項式$F(x,y)=ax^{{ '{' }}2{{ '}' }}+bxy+cy^{{ '{' }}2{{ '}' }}+dx+ey+f$の判別式」を$D(F(x,y))=b^{{ '{' }}2{{ '}' }}-4ac$ と表し、定義する。</p>
    <h3 class="styled-h3">命題　〜2変数2次多項式の判別式の回転不変性〜
      <p>
        任意の2変数2次多項式$F(x,y)=ax^{{ '{' }}2{{ '}' }}+bxy+cy^{{ '{' }}2{{ '}' }}+dx+ey+f$に対して、どんな$\theta \in \mathbb{{ '{' }}R{{ '}' }}$に対しても$D(F(xcosθ+ysinθ,-xsinθ+ycosθ))=D(F(x,y))=b^2-4ac$
      </p>
  </h3>
  <br>
  Proof:<br>
  $F(xcosθ+ysinθ,-xsinθ+ycosθ)$<br>
  $=a(xcosθ+ysinθ)^{{ '{' }}2{{ '}' }}+b(xcosθ+ysinθ)(-xsinθ+ycosθ)+c(-xsinθ+ycosθ)^{{ '{' }}2{{ '}' }}+\cdots$<br>
  よって、$D(F(xcosθ+ysinθ,-xsinθ+ycosθ))=D(F(x,y))=b^2-4ac\ \ Q.E.D$
  <br>
  <br>
</div>
