  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>promath</title>
      <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  </head>
  <body>
    <header>
        <nav aria-label="Breadcrumb" class="breadcrumb">
            <ul>
              <li id="header-title">promath</li>
            </ul>
            <ul>
              <li><a routerLink="/">t o p</a></li>
              <li><a routerLink="/math">数学ノート</a></li>
              <li><a routerLink="/physics">物理実験ノート</a></li>
              <li><a routerLink="/program">プログラム</a></li>
              <li>
                <a href="https://www.youtube.com/channel/UClsb5am02BbSBSl5h4ghE4g">
                  <img id="youtube" class="youtube" src="/assets/images/youtube.png">
                  Youtube
                </a>
              </li>
              <li>
                <a href="https://www.tiktok.com/@ns2pole">
                  <img id="tiktok" class="tiktok" src="/assets/images/tiktok.png">
                  Tiktok
                </a>
              </li>              <li><a routerLink="/about">About</a></li>
              <li><a routerLink="/profile">Profile</a></li>
              <li><a routerLink="/contact">Contact</a></li>
            </ul>
        </nav>
        <br>
    </header>
    <router-outlet></router-outlet>
  </body>
