ul {
  display: -webkit-flex;
  display: flex;
  list-style: none;
  padding: 0px;
}

li:first-child {
  margin-right: auto;
  font-weight: bold;
}

li:not(:first-child) {
  margin: 3px;
  padding: 2px;
  border-radius: 5px;
  border: solid 1px #000000;
}

a {
  margin: 2px;
  text-decoration: none;
  color: #000;
}
