  <head>
      <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
      </script>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>promath</title>
  </head>
  <body>
    <header>
        <nav aria-label="Breadcrumb" class="breadcrumb">
            <ul>
              <li id="header-title">promath</li>
            </ul>
            <ul>高校数学,高校物理,プログラミングの</ul>
            <ul>チューターによる記事サイト</ul>
            <ul>
              <li><a routerLink="/">top</a></li>
              <li><a routerLink="/math">math</a></li>
              <li><a routerLink="/physics">physics</a></li>
              <li><a routerLink="/program">program</a></li>
              <li>
                <a href="https://www.youtube.com/channel/UClsb5am02BbSBSl5h4ghE4g">
                  <img id="youtube" class="youtube" src="/assets/images/youtube.png">
                  youtube
                </a>
              </li>
              <li><a routerLink="/about">about</a></li>
              <li><a routerLink="/plan">plan</a></li>
              <li><a routerLink="/contact">contact</a></li>
            </ul>
        </nav>
        <br>
    </header>
    <router-outlet></router-outlet>
  </body>
