<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>mathpro</title>
  </head>
  <body>
    <header>
        <nav aria-label="Breadcrumb" class="breadcrumb">
            <ul>
              <li>mathpro</li>
              <li><a routerLink="/top">top</a></li>
              <li><a routerLink="/about">about</a></li>
              <li><a routerLink="/sample-program">program</a></li>
              <li><a routerLink="/fee">fee</a></li>
              <li><a routerLink="/contact">contact</a></li>
            </ul>
        </nav>
    </header>
    <router-outlet></router-outlet>
  </body>
</html>
