.container {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}
header ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

}

header a {
  margin: 2px;
  text-decoration: none;
  color: #000;
}

body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

@media (max-width: 767px) {
  #header-title {
    font-size: 19px;
    border: none;
  }

  header ul {
    flex-wrap: wrap;  /* 要素を折り返し */
  }

  header li {
    margin: 3px;
    padding: 2px;
    border-radius: 5px;
    border: solid 1px #000000;
  }

  #youtube {
    width: 12px;
    height: 12px;
    vertical-align: middle; /* 画像を垂直方向に中央揃えに */
  }

  #tiktok {
    width: 12px;
    height: 12px;
    vertical-align: middle; /* 画像を垂直方向に中央揃えに */
  }
}

@media (min-width: 767px) {
  #header-title {
    font-size: 32px;
    border: none;
  }

  header li {
    font-size: 16px; /* お好みのフォントサイズに調整してください */
    min-height: 28px; /* 必要に応じて調整してください */
    margin: 3px;
    padding-left: 5px;  /* 左側の内側余白 */
    padding-right: 5px; /* 右側の内側余白 */
    align-items: center; /* コンテンツを中央揃えにする */
    justify-content: center; /* 水平方向に中央揃えにする場合 */
    display: flex;
    border-radius: 5px;
    border: solid 1px #000000;
  }
  #youtube {
    width: 15px;
    height: 15px;
    vertical-align: middle; /* 画像を垂直方向に中央揃えに */
  }

  #tiktok {
    width: 15px;
    height: 15px;
    vertical-align: middle; /* 画像を垂直方向に中央揃えに */
  }
}
