.container {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}
header ul {
  display: -webkit-flex;
  display: flex;
  list-style: none;
  padding: 0px;
}

header li:first-child {
  margin-right: auto;
  font-weight: bold;
}

header li:not(:first-child) {
  margin: 3px;
  padding: 2px;
  border-radius: 5px;
  border: solid 1px #000000;
}

header a {
  margin: 2px;
  text-decoration: none;
  color: #000;
}


@media (max-width: 767px) {
  #header-title {
    font-size: 19px;
  }
}
@media (min-width: 767px) {
  #header-title {
    font-size: 32px;
  }
}
