<h1>はじめに</h1>
<p>
この記事で伝えたい主張：組み合わせ全体とは<a href="https://mathlog.info/articles/1462">写像の集合(順列全体)</a>に対し対称群を右作用させた軌道空間の事である。
</p>
<p>
必要な予備知識：群作用、軌道空間
</p>
<p>
<div mathjax>
  <h2>記号の約束</h2>
  <ul class="small-bullet">
    <li>記号の約束1：集合$\lbrace 1,2,\cdots ,n\rbrace$を$[n]$と書く</li>
    <li>記号の約束2：集合$\lbrace f\ |\ f:[n]\rightarrow[m]\ ,\ f$は単射 $\rbrace$を $F_{{ '{' }}[n]\overset{{ '{' }}inj{{ '}' }} {{ '{' }}\rightarrow{{ '}' }} [m]{{ '}' }}$と書く(injはinjective:単射の頭文字より)</li>
  </ul>

  <h2>重複を許さない組み合わせと軌道空間</h2>
<p>m個のものから重複を許さずにn個を選ぶ組合せの個数は$\displaystyle _mC_n=\frac{{ '{' }}_mP_n{{ '}' }}{{ '{' }}n!{{ '}' }}=\frac{{ '{' }}m!{{ '}' }}{{ '{' }}(m-n)!n!{{ '}' }}\cdots (1)\ $で計算される。</p>
<p>上記を群作用で表すことを考える。重複を許さない順列全体$F_{{ '{' }}[n]\overset{{ '{' }}inj{{ '}' }}{{ '{' }}\rightarrow{{ '}' }}[m]{{ '}' }}$に対し、対称群$\mathfrak{{ '{' }}S{{ '}' }}_n$を用いて写像の合成で右作用をさせる。つまり、$f \in F_{{ '{' }}[n]\overset{{ '{' }}inj{{ '}' }}{{ '{' }}\rightarrow{{ '}' }}[m]{{ '}' }}\ ,\  \sigma \in \mathfrak{{ '{' }}S{{ '}' }}_n$に対し、$\sigma\cdot f := f\circ \sigma$として$\mathfrak{{ '{' }}S{{ '}' }}_n$を作用させる。この時、得られる軌道空間$F_{{ '{' }}[n]\overset{{ '{' }}inj{{ '}' }}{{ '{' }}\rightarrow{{ '}' }}[m]{{ '}' }}\ /\ \  \mathfrak{{ '{' }}S{{ '}' }}_n$の元の個数が$_mC_n$である。</p>
<p>($\ $(1)式の分母に現れる$n!$は対称群$\mathfrak{{ '{' }}S{{ '}' }}_n$の位数$|\mathfrak{{ '{' }}S{{ '}' }}_n|$=$n!$を意味し、同値関係で割ったゆえに現れている。)</p>
  <h2>具体例　$m=4,\ n=3$</h2>
  順列全体は$F_{{ '{' }}[3]\overset{{ '{' }}inj{{ '}' }}{{ '{' }}\rightarrow{{ '}' }}[4]{{ '}' }}$であり、元を辞書式に並べて書き下すと
  <p>$f_1(1)=1,f_1(2)=2,f_1(3)=3$$\rightarrow[1,2,3]$の順列</p>
  <p>$f_2(1)=1,f_2(2)=2,f_2(3)=4$$\rightarrow[1,2,4]$の順列</p>
  <p>$f_3(1)=1,f_3(2)=3,f_3(3)=2$$\rightarrow[1,3,2]$の順列</p>
  <p>$f_4(1)=1,f_4(2)=3,f_4(3)=4$$\rightarrow[1,3,4]$の順列</p>
  <p>$\cdots$</p>
  <p>$f_7(1)=2,f_7(2)=1,f_7(3)=3$$\rightarrow[2,1,3]$の順列</p>
  <p>$f_8(1)=2,f_8(2)=1,f_8(3)=4$$\rightarrow[2,1,4]$の順列</p>
  <p>$f_9(1)=2,f_9(2)=3,f_9(3)=1$$\rightarrow[2,3,1]$の順列</p>
  <p>$f_{{ '{' }}10{{ '}' }}(1)=2,f_{{ '{' }}10{{ '}' }}(2)=3,f_{{ '{' }}10{{ '}' }}(3)=4$$\rightarrow[2,3,4]$の順列</p>
  <p>$\cdots$</p>
  <p>$f_{{ '{' }}23{{ '}' }}(1)=4,f_{{ '{' }}23{{ '}' }}(2)=3,f_{{ '{' }}23{{ '}' }}(3)=1$$\rightarrow[4,3,1]$の順列</p>
  <p>$f_{{ '{' }}24{{ '}' }}(1)=4,f_{{ '{' }}24{{ '}' }}(2)=3,f_{{ '{' }}24{{ '}' }}(3)=2$$\rightarrow[4,3,2]$の順列
  の$_4P_3=24$個がある。</p>
  <p>
  同値類を上にバーをつけて表すと、軌道空間は$F_{{ '{' }}[3]\overset{{ '{' }}inj{{ '}' }}{{ '{' }}\rightarrow{{ '}' }}[4]{{ '}' }}\ /\ \  \mathfrak{{ '{' }}S{{ '}' }}_3=\{{ '{' }}\overline{{ '{' }}f_1{{ '}' }},\overline{{ '{' }}f_2{{ '}' }},\overline{{ '{' }}f_4{{ '}' }},\overline{{ '{' }}f_{{ '{' }}10{{ '}' }}{{ '}' }}\{{ '}' }}$である。
  この軌道空間の元の個数は確かに、$\displaystyle _4C_3=\frac{{ '{' }}4\cdot 3 \cdot 2{{ '}' }}{{ '{' }}3!{{ '}' }}=4$と一致している。</p>
  <p>分母の$3!$は$|\mathfrak{{ '{' }}S{{ '}' }}_3|=3!$から由来する。</p>
  <br>
</div>
