<h3 class="styled-h3">はじめに</h3><br>
<p>
  - この記事で伝えたい事：円順列の問題を解く時よくある「1人を固定する」というのは要するに「完全代表系を張っている」
</p>
<p>
  - 想定読者：大学数学から高校数学を眺めてみたい人
</p>
<p>
  - この記事を読む為にあった方がいい予備知識：群作用の基本、軌道空間
</p>
<p>
<div mathjax>
  <h3 class="styled-h3">記号の約束</h3><br>
  <ul class="small-bullet">
    <li>記号の約束1：集合$\{{ '{' }}1,2,\cdots ,n\{{ '}' }}$を$[n]$と書く。</li>
    <li>記号の約束2：集合$\{{ '{' }}f\ |\ f:[n]\rightarrow[m]\ ,\ fは単射 \{{ '}' }}$を$F_{{ '{' }}[n]\overset{{ '{' }}inj{{ '}' }}{{ '{' }}\rightarrow{{ '}' }}[m]{{ '}' }}$と書き、これを順列全体という。(injはinjective:単射の頭文字より)</li>
    <li>記号の約束3：$\hookrightarrow$は包含写像</li>
    <li>記号の約束4：$\twoheadrightarrow$は集合$X$から商集合$X/{{ '{' }}\sim{{ '}' }}$への標準射影</li>
    <li>記号の約束5：$k,l\in [n]$に対して定まる$F_{{ '{' }}[n]\overset{{ '{' }}inj{{ '}' }}{{ '{' }}\rightarrow{{ '}' }}[n]{{ '}' }}$の部分集合$R(k,l)$を、$R(k,l):=\{{ '{' }}f\in F_{{ '{' }}[n]\overset{{ '{' }}inj{{ '}' }}{{ '{' }}\rightarrow{{ '}' }}[n]{{ '}' }}\ |\ f(k)=l \{{ '}' }}$と定義する。</li>
  </ul>

  <h3 class="styled-h3">def 円順列</h3><br>
  <p>$n$人の円順列とは順列全体$F_{{ '{' }}[n]\overset{{ '{' }}inj{{ '}' }}{{ '{' }}\rightarrow{{ '}' }}[n]{{ '}' }}$に巡回群$C_n$を右から群作用させた時の軌道空間$\displaystyle F_{{ '{' }}[n]\overset{{ '{' }}inj{{ '}' }}{{ '{' }}\rightarrow{{ '}' }}[n]{{ '}' }} /{{ '{' }}C_n{{ '}' }} $である。</p>

  <h3 class="styled-h3">Prop 1:〜完全代表系と円順列における固定〜$\ \ \ \ $任意に$k,l\in [n]$を取ってくる。(つまり番号$k$を$l$番目に配置する。)
    この時、$R(k,l)$ は軌道空間$\displaystyle F_{{ '{' }}[n]\overset{{ '{' }}inj{{ '}' }}{{ '{' }}\rightarrow{{ '}' }}[n]{{ '}' }} /{{ '{' }}C_n{{ '}' }} $の完全代表系である。<br>
  </h3><br>

  Proof of Prop1<br>
  命題は「包含写像と標準射影の合成$\pi : R(k,l)\hookrightarrow F_{{ '{' }}[n]\overset{{ '{' }}inj{{ '}' }}{{ '{' }}\rightarrow{{ '}' }}[n]{{ '}' }} \twoheadrightarrow \displaystyle F_{{ '{' }}[n]\overset{{ '{' }}inj{{ '}' }}{{ '{' }}\rightarrow{{ '}' }}[n]{{ '}' }} /{{ '{' }}C_n{{ '}' }}$が全単射である」ことと同値。
  これはLem2,Lem3より従う。 $\ \ \ \ Q.E.D$


  <h4 class="styled-h4">Lem 1$\ \ \ \ $任意の$k,l\in [n]$を取ってくる。この時$R(k,l)$のどの元に対しても、単位元以外の$C_n$の元を右から作用させると、この集合から飛び出す。</h4><br>


  Proof of Lem1<br>
  <p>単位元以外の元$\sigma\in C_n$を取ってくる。この時、$\sigma$は$C_n$の元だから、$\sigma(k)\neq k$。よって$\forall f\in R$に対して、$f$は定義より単射だから$\ \ f\circ \sigma(k)\neq f(k)=l$。よって$R$の定義より、$f\circ \sigma  \notin  R$  $\ \ \ \ Q.E.D$</p>

  <h4 class="styled-h4">Lem2: $\pi :R\hookrightarrow F_{{ '{' }}[n]\overset{{ '{' }}inj{{ '}' }}{{ '{' }}\rightarrow{{ '}' }}[n]{{ '}' }} \twoheadrightarrow \displaystyle F_{{ '{' }}[n]\overset{{ '{' }}inj{{ '}' }}{{ '{' }}\rightarrow{{ '}' }}[n]{{ '}' }} /{{ '{' }}C_n{{ '}' }}$は単射である。</h4><br>
  Proof of Lem2<br>
  <p>$f,g\in R$に対して、$\pi (f) =\pi (g) $とする。この時、$f \sim g$より、$ \exists c \in C_n,f\circ c=g$　Lem1よりこれを満たすのは$c$が単位元の時に限る。よって$f=g$  $\ \ \ \ Q.E.D$
  </p>
  <h4 class="styled-h4">Lem3: $\pi :R\hookrightarrow F_{{ '{' }}[n]\overset{{ '{' }}inj{{ '}' }}{{ '{' }}\rightarrow{{ '}' }}[n]{{ '}' }} \twoheadrightarrow \displaystyle F_{{ '{' }}[n]\overset{{ '{' }}inj{{ '}' }}{{ '{' }}\rightarrow{{ '}' }}[n]{{ '}' }} /{{ '{' }}C_n{{ '}' }}$は全射である。</h4><br>
  Proof of Lem3<br>
  <p>「軌道空間の任意の元に対して、あるRの元が取って来れて$\pi$で対応させる事が出来る」事を示せばよい。言い換えると、軌道空間の任意の元に対して、どういう風に代表元$f$を取ってきても、$f$と同じ軌道にある$R$の元$g$が存在する事を示せばよい。
  任意の$\overline{{ '{' }}f{{ '}' }} \in F_{{ '{' }}[n]\overset{{ '{' }}inj{{ '}' }}{{ '{' }}\rightarrow{{ '}' }}[n]{{ '}' }} /{{ '{' }}C_n{{ '}' }}$に対して、$f\in F_{{ '{' }}[n]\overset{{ '{' }}inj{{ '}' }}{{ '{' }}\rightarrow{{ '}' }}[n]{{ '}' }}$より、$f(a)=l$なる$a \in [n]$が存在する。$\sigma \in C_n$を$\sigma(k)=a$となるように取ってきて、$g=f\circ \sigma$とすると、$g\sim f$であってかつ、$g(k)=f\circ \sigma (k)= f(a) =l$より$g\in R\ $ よって$\pi (g)=\overline{{ '{' }}f{{ '}' }}$ $\ \ \ \ Q.E.D$
  </p>

  <h3 class="styled-h3">具体例$(n=3)$</h3><br>
  $F_{{ '{' }}[3]\overset{{ '{' }}inj{{ '}' }}{{ '{' }}\rightarrow{{ '}' }}[3]{{ '}' }}$は以下の6つ元からなる集合である。
  <p>- $f_1(1)=1,f_1(2)=2,f_1(3)=3\rightarrow$順列$[1,2,3]$に対応</p>
  <p>- $f_2(1)=1,f_2(2)=3,f_2(3)=2\rightarrow$順列$[1,3,2]$に対応</p>
  <p>- $f_3(1)=2,f_3(2)=1,f_3(3)=3\rightarrow$順列$[2,1,3]$に対応</p>
  <p>- $f_4(1)=2,f_4(2)=3,f_4(3)=1\rightarrow$順列$[2,3,1]$に対応</p>
  <p>- $f_5(1)=3,f_5(2)=1,f_5(3)=2\rightarrow$順列$[3,1,2]$に対応</p>
  <p>- $f_6(1)=3,f_6(2)=2,f_6(3)=1\rightarrow$順列$[3,2,1]$に対応</p>

  <p>軌道空間：$F_{{ '{' }}[3]\overset{{ '{' }}inj{{ '}' }}{{ '{' }}\rightarrow{{ '}' }}[3]{{ '}' }}/
  {{ '{' }}C_3{{ '}' }}=\{{ '{' }}\overline{{ '{' }}f_1{{ '}' }},\overline{{ '{' }}f_2{{ '}' }}\{{ '}' }}$</p>
  <p>分割：$\overline{{ '{' }}f_1{{ '}' }}=\{{ '{' }}f_1,f_4 ,f_5 \{{ '}' }}$,$\overline{{ '{' }}f_2{{ '}' }}=\{{ '{' }}f_2,f_3 ,f_6 \{{ '}' }}$</p>

  <p></p>次に適当に$k,l$を選ぶ。$k=2\in [3],l=3\in [3]$とおくと、$R(2,3)=\{{ '{' }}f\in F_{{ '{' }}[3]\overset{{ '{' }}inj{{ '}' }}{{ '{' }}\rightarrow{{ '}' }}[3]{{ '}' }}\ |\ f(2)=3 \{{ '}' }} =\{{ '{' }} f_2, f_4\{{ '}' }}$
  <p>$f_2\in \overline{{ '{' }}f_2{{ '}' }},f_4 \in \overline{{ '{' }}f_1{{ '}' }}$であるので、確かに軌道空間$F_{{ '{' }}[3]\overset{{ '{' }}inj{{ '}' }}{{ '{' }}\rightarrow{{ '}' }}[3]{{ '}' }}/
  {{ '{' }}C_3{{ '}' }}$の完全代表系を張っている。</p>

  <h3 class="styled-h3">具体例$(n=4)$</h3><br>
  $F_{{ '{' }}[4]\overset{{ '{' }}inj{{ '}' }}{{ '{' }}\rightarrow{{ '}' }}[4]{{ '}' }}$は以下の24の元からなる集合である。
  <p>- $f_{{ '{' }}1{{ '}' }}(1)=1,f_{{ '{' }}1{{ '}' }}(2)=2,f_{{ '{' }}1{{ '}' }}(3)=3,f_{{ '{' }}1{{ '}' }}(4)=4\rightarrow$$順列$$[1,2,3,4]$$に対応</p>
  <p>- $f_{{ '{' }}2{{ '}' }}(1)=1,f_{{ '{' }}2{{ '}' }}(2)=2,f_{{ '{' }}2{{ '}' }}(3)=4,f_{{ '{' }}2{{ '}' }}(4)=3\rightarrow$順列$[1,2,4,3]$に対応</p>
  <p>- $f_{{ '{' }}3{{ '}' }}(1)=1,f_{{ '{' }}3{{ '}' }}(2)=3,f_{{ '{' }}3{{ '}' }}(3)=2,f_{{ '{' }}3{{ '}' }}(4)=4\rightarrow$順列$[1,3,2,4]$に対応</p>
  <p>- $f_{{ '{' }}4{{ '}' }}(1)=1,f_{{ '{' }}4{{ '}' }}(2)=3,f_{{ '{' }}4{{ '}' }}(3)=4,f_{{ '{' }}4{{ '}' }}(4)=2\rightarrow$順列$[1,3,4,2]$に対応</p>
  <p>- $f_{{ '{' }}5{{ '}' }}(1)=1,f_{{ '{' }}5{{ '}' }}(2)=4,f_{{ '{' }}5{{ '}' }}(3)=2,f_{{ '{' }}5{{ '}' }}(4)=3\rightarrow$順列$[1,4,2,3]$に対応</p>
  <p>- $f_{{ '{' }}6{{ '}' }}(1)=1,f_{{ '{' }}6{{ '}' }}(2)=4,f_{{ '{' }}6{{ '}' }}(3)=3,f_{{ '{' }}6{{ '}' }}(4)=2\rightarrow$順列$[1,4,3,2]$に対応</p>
  <p>- $f_{{ '{' }}7{{ '}' }}(1)=2,f_{{ '{' }}7{{ '}' }}(2)=1,f_{{ '{' }}7{{ '}' }}(3)=3,f_{{ '{' }}7{{ '}' }}(4)=4\rightarrow$順列$[2,1,3,4]$に対応</p>
  <p>- $f_{{ '{' }}8{{ '}' }}(1)=2,f_{{ '{' }}8{{ '}' }}(2)=1,f_{{ '{' }}8{{ '}' }}(3)=4,f_{{ '{' }}8{{ '}' }}(4)=3\rightarrow$順列$[2,1,4,3]$に対応</p>
  <p>- $f_{{ '{' }}9{{ '}' }}(1)=2,f_{{ '{' }}9{{ '}' }}(2)=3,f_{{ '{' }}9{{ '}' }}(3)=1,f_{{ '{' }}9{{ '}' }}(4)=4\rightarrow$順列$[2,3,1,4]$に対応</p>
  <p>- $f_{{ '{' }}10{{ '}' }}(1)=2,f_{{ '{' }}10{{ '}' }}(2)=3,f_{{ '{' }}10{{ '}' }}(3)=4,f_{{ '{' }}10{{ '}' }}(4)=1\rightarrow$順列$[2,3,4,1]$に対応</p>
  <p>- $f_{{ '{' }}11{{ '}' }}(1)=2,f_{{ '{' }}11{{ '}' }}(2)=4,f_{{ '{' }}11{{ '}' }}(3)=1,f_{{ '{' }}11{{ '}' }}(4)=3\rightarrow$順列$[2,4,1,3]$に対応</p>
  <p>- $f_{{ '{' }}12{{ '}' }}(1)=2,f_{{ '{' }}12{{ '}' }}(2)=4,f_{{ '{' }}12{{ '}' }}(3)=3,f_{{ '{' }}12{{ '}' }}(4)=1\rightarrow$順列$[2,4,3,1]$に対応</p>
  <p>- $f_{{ '{' }}13{{ '}' }}(1)=3,f_{{ '{' }}13{{ '}' }}(2)=1,f_{{ '{' }}13{{ '}' }}(3)=2,f_{{ '{' }}13{{ '}' }}(4)=4\rightarrow$順列$[3,1,2,4]$に対応</p>
  <p>- $f_{{ '{' }}14{{ '}' }}(1)=3,f_{{ '{' }}14{{ '}' }}(2)=1,f_{{ '{' }}14{{ '}' }}(3)=4,f_{{ '{' }}14{{ '}' }}(4)=2\rightarrow$順列$[3,1,4,2]$に対応</p>
  <p>- $f_{{ '{' }}15{{ '}' }}(1)=3,f_{{ '{' }}15{{ '}' }}(2)=2,f_{{ '{' }}15{{ '}' }}(3)=1,f_{{ '{' }}15{{ '}' }}(4)=4\rightarrow$順列$[3,2,1,4]$に対応</p>
  <p>- $f_{{ '{' }}16{{ '}' }}(1)=3,f_{{ '{' }}16{{ '}' }}(2)=2,f_{{ '{' }}16{{ '}' }}(3)=4,f_{{ '{' }}16{{ '}' }}(4)=1\rightarrow$順列$[3,2,4,1]$に対応</p>
  <p>- $f_{{ '{' }}17{{ '}' }}(1)=3,f_{{ '{' }}17{{ '}' }}(2)=4,f_{{ '{' }}17{{ '}' }}(3)=1,f_{{ '{' }}17{{ '}' }}(4)=2\rightarrow$順列$[3,4,1,2]$に対応</p>
  <p>- $f_{{ '{' }}18{{ '}' }}(1)=3,f_{{ '{' }}18{{ '}' }}(2)=4,f_{{ '{' }}18{{ '}' }}(3)=2,f_{{ '{' }}18{{ '}' }}(4)=1\rightarrow$順列$[3,4,2,1]$に対応</p>
  <p>- $f_{{ '{' }}19{{ '}' }}(1)=4,f_{{ '{' }}19{{ '}' }}(2)=1,f_{{ '{' }}19{{ '}' }}(3)=2,f_{{ '{' }}19{{ '}' }}(4)=3\rightarrow$順列$[4,1,2,3]$に対応</p>
  <p>- $f_{{ '{' }}20{{ '}' }}(1)=4,f_{{ '{' }}20{{ '}' }}(2)=1,f_{{ '{' }}20{{ '}' }}(3)=3,f_{{ '{' }}20{{ '}' }}(4)=2\rightarrow$順列$[4,1,3,2]$に対応</p>
  <p>- $f_{{ '{' }}21{{ '}' }}(1)=4,f_{{ '{' }}21{{ '}' }}(2)=2,f_{{ '{' }}21{{ '}' }}(3)=1,f_{{ '{' }}21{{ '}' }}(4)=3\rightarrow$順列$[4,2,1,3]$に対応</p>
  <p>- $f_{{ '{' }}22{{ '}' }}(1)=4,f_{{ '{' }}22{{ '}' }}(2)=2,f_{{ '{' }}22{{ '}' }}(3)=3,f_{{ '{' }}22{{ '}' }}(4)=1\rightarrow$順列$[4,2,3,1]$に対応</p>
  <p>- $f_{{ '{' }}23{{ '}' }}(1)=4,f_{{ '{' }}23{{ '}' }}(2)=3,f_{{ '{' }}23{{ '}' }}(3)=1,f_{{ '{' }}23{{ '}' }}(4)=2\rightarrow$順列$[4,3,1,2]$に対応</p>
  <p>- $f_{{ '{' }}24{{ '}' }}(1)=4,f_{{ '{' }}24{{ '}' }}(2)=3,f_{{ '{' }}24{{ '}' }}(3)=2,f_{{ '{' }}24{{ '}' }}(4)=1\rightarrow$順列$[4,3,2,1]$に対応</p>


  <p>軌道空間：$F_{{ '{' }}[4]\overset{{ '{' }}inj{{ '}' }}{{ '{' }}\rightarrow{{ '}' }}[4]{{ '}' }}/
  {{ '{' }}C_4{{ '}' }}=\{{ '{' }} \overline{{ '{' }}f_1{{ '}' }}, \overline{{ '{' }}f_2{{ '}' }}, \overline{{ '{' }}f_3{{ '}' }}, \overline{{ '{' }}f_4{{ '}' }}, \overline{{ '{' }}f_5{{ '}' }}, \overline{{ '{' }}f_6{{ '}' }} \{{ '}' }}$
  </p>
  　分割：$\overline{{ '{' }}f_1{{ '}' }}=\{{ '{' }}f_1, f_{{ '{' }}10{{ '}' }}, f_{{ '{' }}17{{ '}' }},f_{{ '{' }}19{{ '}' }} \{{ '}' }}$,
  <p>$\ \ \ \ \ \ \ \ \ \ \ \overline{{ '{' }}f_2{{ '}' }}=\{{ '{' }}f_{{ '{' }}2{{ '}' }},f_{{ '{' }}12{{ '}' }},f_{{ '{' }}13{{ '}' }},f_{{ '{' }}23{{ '}' }} \{{ '}' }}$,</p>
  <p>$\ \ \ \ \ \ \ \ \ \ \ \overline{{ '{' }}f_3{{ '}' }}=\{{ '{' }}f_3, f_{{ '{' }}11{{ '}' }},f_{{ '{' }}16{{ '}' }},f_{{ '{' }}20{{ '}' }}\{{ '}' }}$,</p>
  <p>$\ \ \ \ \ \ \ \ \ \ \ \overline{{ '{' }}f_4{{ '}' }}=\{{ '{' }}f_4,f_{{ '{' }}7{{ '}' }},f_{{ '{' }}18{{ '}' }},f_{{ '{' }}21 {{ '}' }} \{{ '}' }}$,</p>
  <p>$\ \ \ \ \ \ \ \ \ \ \ \overline{{ '{' }}f_5{{ '}' }}=\{{ '{' }}f_5,f_{{ '{' }}9{{ '}' }},f_{{ '{' }}14{{ '}' }},f_{{ '{' }}22{{ '}' }} \{{ '}' }}$,</p>
  <p>$\ \ \ \ \ \ \ \ \ \ \ \overline{{ '{' }}f_6{{ '}' }}=\{{ '{' }}f_6,f_{{ '{' }}8{{ '}' }},f_{{ '{' }}15{{ '}' }},f_{{ '{' }}24{{ '}' }} \{{ '}' }}$</p>
  <p>次に適当に$k,l$を選ぶ。$k=4\in [4],l=2\in [4]$とおくと、
  $R(4,2) =\{{ '{' }} f_{{ '{' }}4{{ '}' }}, f_{{ '{' }}6{{ '}' }}, f_{{ '{' }}14{{ '}' }}, f_{{ '{' }}17{{ '}' }}, f_{{ '{' }}20{{ '}' }}, f_{{ '{' }}23{{ '}' }}\{{ '}' }}$</p>
  <p>$f_{{ '{' }}4{{ '}' }} \in \overline{{ '{' }}f_{{ '{' }}4{{ '}' }}{{ '}' }}\ $, $f_{{ '{' }}6{{ '}' }} \in \overline{{ '{' }}f_{{ '{' }}6{{ '}' }}{{ '}' }}\ $,$f_{{ '{' }}14{{ '}' }} \in \overline{{ '{' }}f_{{ '{' }}5{{ '}' }}{{ '}' }}\ $,$f_{{ '{' }}17{{ '}' }} \in \overline{{ '{' }}f_{{ '{' }}1{{ '}' }}{{ '}' }}\ $,$f_{{ '{' }}20{{ '}' }} \in \overline{{ '{' }}f_{{ '{' }}3{{ '}' }}{{ '}' }}\ $,$f_{{ '{' }}23{{ '}' }} \in \overline{{ '{' }}f_{{ '{' }}2{{ '}' }}{{ '}' }}$
  であるので、確かに軌道空間$F_{{ '{' }}[4]\overset{{ '{' }}inj{{ '}' }}{{ '{' }}\rightarrow{{ '}' }}[4]{{ '}' }}/
  {{ '{' }}C_4{{ '}' }}$の完全代表系を張っている。</p>
  </div>
