<h3 class="styled-h3">はじめに</h3><br>
<p>
この記事で伝えたい主張：重複順列は写像の集合と見なせる。
</p>
<p>
必要な予備知識：集合の記法、写像
</p>
<p>
<div mathjax>
  <h3 class="styled-h3">記号の約束</h3><br>
  <ul class="small-bullet">
    <li>集合$\{{ '{' }}1,2,\cdots n\{{ '}' }}$を$[n]$と書く。</li>
  </ul>

  <h3 class="styled-h3">重複順列</h3><br>
  <p>異なる$m$個から重複を許し$n$個を選んで並べる重複順列全体とは$f:[n]\rightarrow[m]$という写像全体$\{{ '{' }}f\ | \ \ f:[n]\rightarrow [m]\ \{{ '}' }}$の事である。</p>

  <h3 class="styled-h3">具体例　$m=3,\ n=2$</h3><br>
  <p>$f:[2]\rightarrow [3]$なる写像は以下の9つである。</p>
  <p>$f_1(1)=1,f_1(2)=1$$\rightarrow[1,1]$の順列</p>
  <p>$f_2(1)=1,f_2(2)=2$$\rightarrow[1,2]$の順列</p>
  <p>$f_3(1)=1,f_3(2)=3$$\rightarrow[1,3]$の順列</p>
  <p>$f_4(1)=2,f_4(2)=1$$\rightarrow[2,1]$の順列</p>
  <p>$f_5(1)=2,f_5(2)=2$$\rightarrow[2,2]$の順列</p>
  <p>$f_6(1)=2,f_6(2)=3$$\rightarrow[2,3]$の順列</p>
  <p>$f_7(1)=3,f_7(2)=1$$\rightarrow[3,1]$の順列</p>
  <p>$f_8(1)=3,f_8(2)=2$$\rightarrow[3,2]$の順列</p>
  <p>$f_9(1)=3,f_9(2)=3$$\rightarrow[3,3]$の順列</p>
  <p>以上の写像の集合が重複順列全体で、確かに重複順列の公式通り、$3^2=9$個の元がある。一般の$m,n$では$m^n$個</p>
  <br>
</div>
