<h1>はじめに</h1>
<p>
この記事で伝えたい主張：組み合わせ全体とは<a href="https://mathlog.info/articles/1462">写像の集合(順列全体)</a>に対し対称群を右作用させた軌道空間の事である。
</p>
<p>
必要な予備知識：群作用、軌道空間
</p>
<p>
<div mathjax>
  <h2>記号の約束</h2>
  <ul class="small-bullet">
    <li>記号の約束1：集合$\lbrace 1,2,\cdots ,n\rbrace$を$[n]$と書く</li>
    <li>記号の約束2：集合$\lbrace f\ |\ f:[n]\rightarrow[m]\rbrace$を$F_{{ '{' }} [n]\rightarrow[m]{{ '}' }} $と書く</li>
    <li>記号の約束3：集合$\lbrace f\ |\ f:[n]\rightarrow[m]\ ,\ f$は単射 $\rbrace$を $F_{{ '{' }}[n]\overset{{ '{' }}inj{{ '}' }} {{ '{' }}\rightarrow{{ '}' }} [m]{{ '}' }}$と書く(injはinjective:単射の頭文字より)</li>
  </ul>
</div>
