<h1>はじめに</h1>
<p>
この記事で伝えたい主張：重複順列は写像(単射)の集合と見なせる。
</p>
<p>
必要な予備知識：集合の記法、写像
</p>
<p>
<div mathjax>
  <h2>記号の約束</h2>
  <ul class="small-bullet">
    <li>集合$\{{ '{' }}1,2,\cdots n\{{ '}' }}$を$[n]$と書く。</li>
  </ul>

  <h2>順列</h2>
  異なる$m$個から$n$個を選んで並べる(重複を許さない)順列全体とは写像$f:[n]\rightarrow[m]$であって単射なもの全体$\{{ '{' }}f\ | \ \ f:[n]\rightarrow [m]\ ,\ fは単射\ \{{ '}' }}$の事である。
&&&

  <h3>具体例　$m=3,n=2$</h3>
<p>$f:[2]\rightarrow [3]$なる写像のうち単射を数え上げると、先程の重複順列で数え上げたものの中で以下の6つが単射である。</p>
<p>$f_2(1)=1,f_2(2)=2$$\rightarrow(12)$の順列</p>
<p>$f_3(1)=1,f_3(2)=3$$\rightarrow(13)$の順列</p>
<p>$f_4(1)=2,f_4(2)=1$$\rightarrow(21)$の順列</p>
<p>$f_6(1)=2,f_6(2)=3$$\rightarrow(23)$の順列</p>
<p>$f_7(1)=3,f_7(2)=1$$\rightarrow(31)$の順列</p>
<p>$f_8(1)=3,f_8(2)=2$$\rightarrow(32)$の順列</p>
<p>以上の写像の集合が(重複を許さない)順列全体で、確かに順列の公式通り、$_3P_2=6$個の元がある。一般の$m,n$では$\displaystyle{{ '{' }}\frac{{ '{' }}m!{{ '}' }}{{ '{' }}(m-n)!{{ '}' }}{{ '}' }}$個</p>
<br>
</div>
