ul li {
  list-style: none;
  font-size: 17px;  /* Smaller font size */
  margin-left: -2.5em;  /* Adjust the margin if necessary */
}

img {
  width: 70%;
  height: 80%;
  display: block;
  margin: auto;
}

@media (max-width: 768px) {
  /* 全体のコンテナ */
  .articles-title{
    width: 90%;  /* または適切なサイズに調整 */
    height: 33%;
    margin: auto;  /* 中央寄せ */
    text-align: center;
  }

  .articles {
    width: 90%  ;  /* または適切なサイズに調整 */
    margin: auto;  /* 中央寄せ */
  }
}

@media (min-width: 768px) {
  /* 全体のコンテナ */
  .articles-title{
    width: 30%;  /* または適切なサイズに調整 */
    height: 25%;
    margin: auto;  /* 中央寄せ */
    text-align: center;
  }

  .articles {
    width: 30%  ;  /* または適切なサイズに調整 */
    margin: auto;  /* 中央寄せ */
  }
}

.articles li {
  margin-left: 3em;  /* Adjust the margin if necessary */
}

/* リスト項目 */
div li {
  list-style-type: square;  /* マーカーのスタイル */
  margin-bottom: 10px;      /* 下マージン */
}

/* リンク */
a {
  text-decoration: none;    /* アンダーラインを削除 */
  color: #007BFF;           /* テキストの色 */
  transition: color 0.3s;   /* 色の遷移 */
}

/* ホバー時のリンク */
a:hover {
  color: #0056b3;           /* ホバー時の色 */
}

.styled-h3 {
  display: inline-block;  /* インラインブロックとして表示 */
  border: 2px solid #000;  /* 枠を黒で囲む */
  background-color: rgba(0, 255, 0, 0.1);  /* 背景色を薄い緑にする */
  padding: 10px;  /* パディングを追加 */
  margin: 10px;  /* マージンを追加 */
}

.styled-h4 {
  display: inline-block;
  border: 1px solid #aaa;  /* 薄い枠 */
  background-color: rgba(117, 149, 253, 0.1);  /* 薄い背景色 */
  padding: 5px;  /* 少ないパディング */
  margin: 5px;  /* 少ないマージン */
  font-size: 0.9em;  /* 小さなフォントサイズ */
}

.articles-title-head {
  background-color: white;
  border-radius: 7px; /* 丸みの半径を調整 */
  border: 1.8px solid #000000; /* 枠線の色と太さを調整 */
  padding-left: 8px;  /* 内側のスペースを調整 */
  padding-right: 8px;  /* 内側のスペースを調整 */
  display: inline-block;  /* 要素をインラインブロックに */
}
