<div class="articles-title">
  <div class="sub-title">数え上げ(数学A)と大学数学の話</div>
  <img id="bridge" class="bridge" src="/assets/images/bridge.png">
</div>
<div class="articles-container">
  <li><a routerLink="/math/permutation">順列と写像</a></li>
  <li><a routerLink="/math/dup-permutation">重複順列と写像</a></li>
  <li><a routerLink="/math/cycle-permutation">円順列と巡回群</a></li>
  <li><a routerLink="/math/combi-orbit-space">組み合わせと軌道空間</a></li>
  <li><a routerLink="/math/dup-combi-orbit-space">重複組み合わせと軌道空間</a></li>
</div>

<div class="articles-title">
  <div class="sub-title">2次曲線のはなし</div>
  <img id="bridge" class="bridge" src="/assets/images/corn.png">
</div>
<div class="articles-container">
  <li><a routerLink="/math/rotation-to-standard">2次形式と回転変換と標準形</a></li>
  <li><a routerLink="/math/immutability-for-rotation">回転変換と2次形式の判別式の不変性</a></li>
  <li><a routerLink="/math/immutability-for-slide">平行移動と2次形式の判別式の不変性</a></li>
  <li><a routerLink="/math/lemma-factorization-on-integer">整数係数上での因数分解の命題の為の補題</a></li>
  <li><a routerLink="/math/discriminant-and-factorization">2次形式の判別式と整数係数上での因数分解</a></li>
</div>
