ul li {
  list-style: none;
  font-size: 17px;  /* Smaller font size */
  margin-left: -2.5em;  /* Adjust the margin if necessary */
}

img {
  width: 70%;
  height: 80%;
  display: block;
  margin: auto;
}

@media (max-width: 768px) {
  /* 全体のコンテナ */
  .articles-title{
    width: 100%;  /* または適切なサイズに調整 */
    height: 33%;
    margin: auto;  /* 中央寄せ */
    text-align: center;
  }

  .articles {
    width: 100%  ;  /* または適切なサイズに調整 */
    margin: auto;  /* 中央寄せ */
  }


  .articles li {
    margin-left: 1em;  /* Adjust the margin if necessary */
  }

}

@media (min-width: 768px) {
  /* 全体のコンテナ */
  .articles-title{
    width: 30%;  /* または適切なサイズに調整 */
    height: 25%;
    margin: auto;  /* 中央寄せ */
    text-align: center;
  }

  .articles {
    width: 30%  ;  /* または適切なサイズに調整 */
    margin: auto;  /* 中央寄せ */
  }

  .articles li {
    margin-left: 3em;  /* Adjust the margin if necessary */
  }

}

/* リスト項目 */
div li {
  list-style-type: square;  /* マーカーのスタイル */
  margin-bottom: 10px;      /* 下マージン */
}



.styled-h4 {
  display: inline-block;
  border: 1px solid #aaa;  /* 薄い枠 */
  background-color: rgba(117, 149, 253, 0.1);  /* 薄い背景色 */
  padding: 5px;  /* 少ないパディング */
  margin: 5px;  /* 少ないマージン */
  font-size: 0.9em;  /* 小さなフォントサイズ */
}

.articles-title-head {
  background-color: white;
  border-radius: 7px; /* 丸みの半径を調整 */
  border: 1.8px solid #000000; /* 枠線の色と太さを調整 */
  padding-left: 8px;  /* 内側のスペースを調整 */
  padding-right: 8px;  /* 内側のスペースを調整 */
  display: inline-block;  /* 要素をインラインブロックに */
}
