<div class="container">
  <figure id="me-img-container">
    <img id="me" class="me" src="/assets/images/me1.png">
    <figcaption id="me-img-caption">代表 中村俊介</figcaption>
  </figure>
  <div class="profile-content">
    <div>
      <div class="profile-section">経歴</div>
      <li>2014年3月 神戸大学 理学部 地球惑星科学科 卒業</li>
      <li>2016年3月 神戸大学大学院 理学研究科 物理学専攻(素粒子宇宙論研究室) 修了</li>
      <li>
        2018年〜 数学物理の家庭教師、塾講師として活動中
      </li>
      <li class="bold">2018年〜 プログラマとして都内某株式会社で週2,3日でアルバイト勤務</li>
      <li class="bold">
        2022年〜 プログラミングの指導を開始
      </li>
    </div>
    <br>
    <br>
    <div>
      <div class="profile-section">1年以上担当の生徒 合格実績(主に数学担当)</div>
      <li>立命館大学  情報理工学部 情報理工学科 (2023年度入試)</li>
      <li>北海道大学 総合理系型入試(2022年度入試)</li>
      <li>東京理科大 A方式理学部化学科 & B方式理学部応用化学科(2022年度入試)</li>
    </div>
    <br>
    <br>

    <div>
      <div class="profile-section">過去の個別指導 担当生徒例(1年以上の生徒のみ記載)</div>
      <li>駒場東邦高等学校生(中高一貫)</li>
    </div>
    <br>
    <br>
    <div>
      <div class="profile-section">その他指導</div>
      <li>大学生 大学教養 微分積分学レポートフォロー</li>
    </div>
  </div>
</div>
