
@media screen and (max-width:768px) {
  h4 {
    text-align: center;
  }
  #me {
    width: 60%;
    height: auto;
  }
  #me-img-container {
    text-align: center;
  }
}

@media screen and (min-width: 769px) {
  #me {
    width: 20%;
    height: auto;
  }
}

.bold {
  font-weight: bold;
}
