<div>
  プログラミング(主にアルゴリズム,数学)を通して理系人材の教育を行います。
</div>
<div>対象：小学生(高学年),中学生,高校生,社会人</div>
<div class="explanation">
  [整数]
  例として何かの数値を素因数分解するプログラムを考えてみましょう。
  例えば1001は7×11×13というように素因数分解されますが、人間が普通に計算するように1001を試しに小さい数値で割らせて、計算をさせることが出来ます。
</div>
<div class="explanation">
  [ソート]
  ランダムに並んだ数値をソートするアルゴリズムは色々と知られています。
  下のアニメーションはバブルソートと呼ばれ、隣接する2つの数値を比べる簡易なアルゴリズムで動いています。
</div>
<app-bar-chart ></app-bar-chart>
<div class="explanation">
  [グラフと経路探索]
  下記の迷路を抜ける一番近いルートはどのようなルートでしょうか？
  幅優先探索というスタート地点の近くから順に探索するアルゴリズムを書く事で人間が迷路を解くという行為を機械にさせる事が出来ます。
</div>
<div class="explanation">
  [ゲーム]
  プログラミングの基本事項を学んだ後になりますが、ブロック崩しやテトリス、リバーシなどの製作を通してプログラミングを学ぶことが出来ます。
</div>
<div class="explanation">
  [力学]
  物体の運動を記述する方程式として古典的なNewtonの運動方程式があります。
  物体に働く力を定めてプログラムで計算をさせると、色々な物体の動きをアニメで見ることが出来ます。
</div>

<div>対応言語：java,haskellを中心に扱います</div>
