
<h2 class="sub-title">お知らせ</h2>
<div id="notice-container">
  <li>数学プログラミングちゃんねるの登録者数が150人を超えました。(2024/10/19)</li>
</div>
<br><br>
<h2 class="sub-title">動画リスト</h2>
<div class="sub-container">
  <div class="content-wrapper">
    <div class="video-container">
      <iframe src="https://www.youtube.com/embed/cnzMZTQWa70" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="description-container">
      <h4>プログラム</h4>
      <code>
        elem' :: Eq a => a -> [a] -> Bool<br>
        elem' _ [] = False<br>
        elem' a (x:xs)<br>
        &nbsp;&nbsp;| a == x = True<br>
        &nbsp;&nbsp;| otherwise = elem a xs<br>
        bool1 = elem' 1 [1,2,3]<br>
        bool2 = elem' 1 [2,3,4]<br>
        main :: IO ()<br>
        main = do<br>
        &nbsp;&nbsp;putStrLn $ show (bool1)<br>
        &nbsp;&nbsp;putStrLn $ show (bool2)<br>
      </code>
    </div>
  </div>
</div>
<br><br><br>
<div class="sub-container">
  <div class="content-wrapper">
    <div class="video-container">
      <iframe src="https://www.youtube.com/embed/A7IUXRsoKkk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="description-container">
      <h4>プログラム</h4>
      <code>
        insert i x list = take i list ++ [x] ++ drop I list<br>
        f i = \list -> insert i (list !! i) (filter (\x -> x `mod` (list !! i) /= 0) list)<br>
        l = [2..50]<br>
        l0 = (f 0) l<br>
        l1 = (f 1) l0<br>
        l2 = (f 2) l1<br>
        l3 = (f 3) l2<br>
        main = do<br>
        &nbsp;&nbsp;putStrLn (show l)<br>
        &nbsp;&nbsp;putStrLn (show l0)<br>
        &nbsp;&nbsp;putStrLn (show l1)<br>
        &nbsp;&nbsp;putStrLn (show l2)<br>
        &nbsp;&nbsp;putStrLn (show l3)<br>
      </code>
    </div>
  </div>
</div>
<br><br><br>
<div class="sub-container">
  <div class="content-wrapper">
    <div class="video-container">
      <iframe src="https://www.youtube.com/embed/MWooMXyCXT8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="description-container">
      <h4>プログラム</h4>
      <code>
        insert :: Int -> Int -> [Int] -> [Int]<br>
        insert index x list = (take index list) ++ [x] ++  (drop index list)<br>
        f i= \l -> insert i (l !! i) $ filter (\a -> a `mod` (l !! i) /= 0) l<br>
        fs = foldl1 (.) $ reverse $ map f [0..100]<br>
        pl = fs [2..1000]<br>
        pf :: Int -> [Int] -> [Int]<br>
        pf x (p:ps)<br>
        &nbsp;&nbsp;| x == 1 = []<br>
        &nbsp;&nbsp;| x `mod` p == 0 = p : pf (x `div` p) (p:ps)<br>
        &nbsp;&nbsp;| otherwise = pf x ps<br>
        main = putStrLn (show $ pf (124124 ::Int) pl)<br>
      </code>
    </div>
  </div>
</div>
<br><br><br>
<div class="sub-container">
  <div class="content-wrapper">
    <div class="video-container">
      <iframe src="https://www.youtube.com/embed/hSv-AKlS-Ho" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="description-container">
      <h4>プログラム</h4>
      <code>
        p = [(a,b,c) | a <- [1..30], b <- [1..30], c <- [1..30], a^2 + b^2 == c^2]<br>
        main = putStrLn (show p)
      </code>
    </div>
  </div>
</div>
<br><br><br>
<div class="sub-container">
  <div class="content-wrapper">
    <div class="video-container">
      <iframe src="https://www.youtube.com/embed/N4raHJfD7pQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="description-container">
      <h4>プログラム</h4>
      <code>
        root :: Integer -> Double<br>
        root x = sqrt (fromIntegral x)<br>
        f :: Integer -> [(Integer, Integer)]<br>
        f x = [(a, x `div` a) | a <- [1..(floor (root x))], x `mod` a == 0]<br>
        d = f 30<br>
        main = putStrLn (show d)
      </code>
    </div>
  </div>
</div>
<br><br><br>
