<h2 class="sub-title">お知らせ</h2>
<div id="notice-container">
  <li>物理実験ちゃんねるの登録者数が1000人を超えました。(2024/08/15)</li>
</div>
<br><br>
<h2 class="sub-title">内容</h2>
<div class="sub-container">
  <li>高校数学を指導します(大学受験まで対応可)</li>
  <li>実験を交えて高校物理を指導します(大学受験まで対応可)</li>
  <li>プログラミング(数学系または簡易ゲーム制作)を基本から指導します</li>
  <br>
  <div id="sub-container-caption">
    ※高校数学,物理の指導は、主に難関大受験予定の生徒まで近年担当しています。
  </div>
</div>
<br><br><br>
<h2 class="sub-title">オンラインでのプログラミング指導</h2>
<figure class="image-with-caption">
  <img id="lecture" class="lecture" src="/assets/images/lecture.png" alt="Lecture">
  <figcaption>授業の様子(2024.8)</figcaption>
</figure>
<br><br><br>

<h2 class="sub-title">生徒の声</h2>

<div class="student-voice">
  <p><strong>【明治大学1年 K. Sさん】</strong><br>
  　今自分は大学一年生で明治大学に通っています。<br>
  自分の学部では数学とプログラミングを融合させた内容を扱っており、進度が速く遅れをとっている状況でした。<br>
  　しかし熱心にプログラミングを教えてもらった結果成績を上げ、遅れを取り戻すことができました。
</div>

<div class="student-voice">
  <p><strong>【筑波大学附属 駒場高等学校 H. Kさん】</strong><br>
  　昔からプログラミングに興味があり、スクラッチを少し学んだこともありましたが、
  そこから先の言語は敷居が高く、なかなか手が出せませんでした。<br>
  しかしここで一から丁寧に教えていただき、着実にスキルが身についているのを感じます。
</div>
<br><br>
<div class="sub-title">
    対面またはオンライン料金
</div>
<div class="plan-container">
  <button class="plan-button">
    <div>週1回　9800円</div>
    <div>1回 60分程度</div>
  </button>
</div>
<div class="plan-container">
  <button class="plan-button">
    <div>週1回　14000円</div>
    <div>1回 90分程度</div>
  </button>
</div>
<br><br><br>
