<div class="sub-container">
  <span>
    内容
      <li>高校数学を指導します</li>
      <li>実験を交えて高校物理を指導します</li>
      <li>プログラミング(アルゴリズムまたはレトロゲーム制作)を基本から指導します</li>

  <br>
  <br>
  ※高校数学,高校物理の指導は、主に難関大受験予定の高校生や医学部受験予定の生徒を近年担当しています。
  </span>
</div>
<br><br>
<div class="sub-container">
    対面またはオンライン
</div>
<div class="sub-container">
  <button class="plan-button" (click)="toContact()">
    <div>月2回　6480円</div>
    <div>1回 1時間程度</div>
    <button class="plan-inner-button">
      <div>無料体験申込</div>
    </button>
  </button>
  <br>
  <br>
  <button class="plan-button" (click)="toContact()">
    <div>週1回　11980円</div>
    <div>1回 1時間程度</div>
    <button class="plan-inner-button">
      <div>無料体験申込</div>
    </button>
  </button>
</div>
<br><br><br>
