<div class="sub-container">
  <span>
    内容
      <li>プログラミングの基礎,基本を指導します</li>
      <li>for文,if文,などの基本構文やオブジェクト指向プログラミングを指導します</li>
      <li>パソコンの操作に慣れていない生徒には、タイピングから覚えていただきます</li>
  </span>
</div>
<br><br>
<div class="sub-container">
    対面
</div>
<div class="sub-container">
  <button class="plan-button" (click)="toContact()">
    <div>お試しコース</div>
    <div>3980円 月2回</div>
    <div>1回1時間程度</div>
    <button class="plan-inner-button">
      <div>無料体験申込</div>
    </button>
  </button>
  <br>
  <br>
  <button class="plan-button" (click)="toContact()">
    <div>スタンダードコース</div>
    <div>7700円 週1回</div>
    <div>1回1時間程度</div>
    <button class="plan-inner-button">
      <div>無料体験申込</div>
    </button>
  </button>
</div>
<br><br><br>
<div class="sub-container">
    オンライン
</div>

<div class="sub-container" (click)="toContact()">
  <button class="plan-button">
    <div>オンラインコース</div>
    <div>4980円 週1回</div>
    <div>1回1.5時間程度</div>
    <button class="plan-inner-button">
      <div>無料体験申込</div>
    </button>
  </button>
</div>
